# Python virtual environment
venv/
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Environment files
.env
.venv
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo